:root {
  /* Fonts */
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* Color */
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
  /* Others */
}

/* Base styles */
.body {
  font-size: 16px;
  font-family: var(--primary-font);
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
  color: var(--color-slate);
}

.section {
}

.list {
  color: inherit;
  list-style: none;
}

.link {
  text-decoration: none;
}

/* reset start */
.button {
  font-family: inherit;
}

.main-title {
  font-size: 56px;
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
  color: #ffffff;
}
.section-title {
  font-size: 36px;
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: capitalize;
}
.subtitle {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
}

.desc {
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
}
.button-text {
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-transform: none;
}
.small-text {
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-transform: none;
}

/* Header styles */

.header {
}
.header-nav {
}
.header-nav-link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.link {
}
.logo-web-studio {
  color: #2e2f42;
}
.header-nav-list {
}
.list {
}
.header-nav-item {
}
.header-address {
}
.header-address-list {
}
.header-address-item {
}
.header-address-link {
}

/* Section-Hero */

/* Saction-1-advantage */

/* Section-2-work */

/* Section-3-team */

/* Footer styles */

/* PORTFOLIO */
/* Filters styles */
